@media (max-width:1400px){
    .slider{
        
        .slider__item{
            width: 650px;
            height: 500px;
            top: -30px;
        }
        .slider__container{
            width: 650px;
        }
    }
} //media 1400
@media (max-width:1100px){
    .about{
        .about__container{
            max-height: 480px;
        }
        .about__right{
            padding: 45px 0;
        }
    }
    .menu{
        .menu__wrapper{
            justify-items: center;
            grid-template-columns: repeat(var(--col), 300px);
            
        }
        .menu__item{
            width: 240px;
            height: 355px;
        }
        .menu__img--wrapper{
            width: 220px;
            height: 210px;
            right: 30px;
        }
        .menu__text--wrapper{
            width: 240px;
            height: 270px;
        }
    }
    .slider{
        .slider__item{
            top: -10px;
        }
        .slider__content{
            width: auto;
        }
    }
    .reviews{
        .reviews__slider{
            max-width: 950px;
            width: 100%;
        }
        .slick-slide {
            margin-left:20px;
            margin-right: 20px;
          }
    }
}//media 1100

@media(max-width:950px){
    .first { 
        .img--wrapper{
            img{
                width: 450px;
                }
            }
        .circle{
            right: -50%;
            }
        }
    .features{
        .features__item{
            width: 230px;
            .features__subtitle{
                margin: 15px 15px;
            } 
        }
    }
    .about{
        h2{
            font-size: 2.5rem;
        }
        .about__container{
            max-height:none;
            max-width: 90%;
        }
        .img--wrapper{
            img{width: 370px;}
        }
    }
    .menu{
        .menu__wrapper{
            justify-items: center;
            grid-template-columns: repeat(var(--col), 330px);
            
            
        }
        .menu__item{
            width: 330px;
            height: 380px;
        }
        .menu__img--wrapper{
            width: 254px;
            height: 224px;
            right: 30px;
        }
        .menu__text--wrapper{
            width: 270px;
            height: 340px;
        }
    }
    .slider{
        .slider__content{
            width: 95%;
            height: auto;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding: 0;
            padding-bottom: 70px;
        }
        .slider__container{
            padding: 0;
            max-width: 680px;
            width: inherit;
        }
        .slick-slide{
            margin: 0;
        }
        .slider__item{
            width: 100%;
            right: 0;
            top: 0;
        }
        .slider__text{
            margin-left: 0;
            margin-bottom: 50px;
            //margin-left: calc(50% - 300px);
            h3{
                text-align: center;
            }            
            h2{
                text-align: center;
            }
            .subtitle{
                text-align: center;
                margin: 30px 0;
            }
            .controls{
                margin: 0 auto;
            }
        }
    }
     body{
         .map{
            margin-top: 100px;
             #map-init{
                 position: inherit;
                 padding: 75px 0;
             }
         }
    }
    .reviews{
        .reviews__slider{
            max-width: 950px;
            width: 100%;
        }
        .slick-slide {
            margin-left:10px;
            margin-right: 10px;
          }
        .reviews__photo{
            right: 15px;
        }
    }
    
    body .map{
        align-items: center;
        .map__container{
            flex-direction: column;
            align-items: center;
        }
        }
}//media 950

@media(max-width:850px){
    body{
    .first { 
        .img--wrapper{
            img{
                width: 370px;
                 }
            }
    }
    .features{
        .features__item{
            width: 215px;
        }
    }
    .about{
        h2{
            font-size: 2rem;
        }
    }
    .explore{
        .explore__item{
            width: 150px;
        }
    }
    .menu{
        .circle{
            top: 18%;
            left: -55%;
        }
    }
    .app{
    .app__container{
        margin: 0 auto;
        flex-direction: column-reverse;
        max-height: none;
        align-items: center;
        .img--wrapper{
            max-width: 470px;
            }
        
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
        }
        .subtitle{
            text-align: center;
        }
        }
    }
    footer {
        .footer__content{
            grid-template-columns: 30% 22% 22% 26%;
        }
    }
  }
}//media 850

@include tablets{
    .footer__content{
    .fb{
        width: 0.6rem;
        height: 1.07rem;
    
        }
    
    .tw{
        width: 1.07rem;
        height: 0.867rem;
      }
    .inst{
        width: 1.07rem;
        height: 1.07rem;
        }    
    }
    body .slider{
        margin-top: 100px;
        .slider__text{
            margin-top: 50px;
        }
    }
    .about{
        .about__statistic{
            flex-wrap: wrap;
            max-width: 470px;
            &::after {
              content:'';
              width:100%;
              order:0;
                }
            .static__item{
                &:nth-child(3){order: 1; margin-top: 25px;}
                &:nth-child(4){order: 1; margin-top: 25px;}
            }
        }
    }
}
@media(max-width:720px){
    body .first{
        flex-direction: column;
        padding: 150px 10px 100px 10px;    
        .img--wrapper img{
            width: 100%;
        }
        .video{
                margin: 0;
            }
        .first__content{
            padding: 0 20px;
            margin-top: 75px;
            margin-right: 0;
            align-items: center;
            
            h1{
                text-align: center;
            }
            h3{
                text-align: center;
            }
            .subtitle{
                text-align: center;
            }
        }
    }
    .features{
        .features__container{
            flex-direction: column;
            .features__item{
                width: 280px;
                margin: 0;
                margin-top: 70px;
                .features__subtitle{
                    margin: 15px 30px;
                }
            }
        }  
    }
    .about{
        .about__container{
            flex-direction: column;
            margin: 0 auto;
            .img--wrapper{
                img{
                    width: 100%;
                }
            }
            .about__right{
                margin: 0 auto;
                text-align: center;
                align-items: center;
                h2{text-align: center;}
            }
        }
    }
}//media 720
@media(max-width:680px){
    body{
        .first{
            .circle{
                right: -80%;
            }
        }
         header{
            display: none;
        }
         #burger{
            display: block;
        }
         .adaptive__title{
            display: block;
        }
        .features{
            .subtitle{
                max-width: 360px;
                margin: 10px 15px;
            }
        }
         footer{
             .footer__content{
                 display: flex;
                 flex-direction: column-reverse;
                 align-items: center;
                 .button-link{
                     order: 2;
                     margin-top: 20px;
                 }
                 div{
                     display: none;
                     &:nth-child(1){
                         margin-top: 20px;
                         display: block;
                     }   
                 }
                 input{
                     height: 55px;
                     order: 3;
                 }
                 .footer__wrapper__svg{
                      margin-top: 20px;
                      display: flex;   
                 }
             }
        }
        .slider{
            .slider__item{
                height: 360px;
            }
        }
        .reviews{
            margin-top: 50px;
            .reviews__item{
                margin: auto;
            }
        }
        .app{
            margin-top: 90px;
            .app__content{
                padding-top: 40px;
            }
        }
        .menu{
            .menu__item{
            width: 240px;
            height: 355px;
        }
        .menu__img--wrapper{
            width: 220px;
            height: 210px;
            right: 30px;
        }
        .menu__text--wrapper{
            width: 240px;
            height: 270px;
            }    
        
        .menu__wrapper{
            justify-items: center;
            grid-template-columns: repeat(var(--col), 270px);
            
            }
        .explore .explore__flex--wrapper{
            margin: 0 auto;
            margin-top: 90px;
            max-width: 500px;
            flex-wrap: wrap;
            justify-content: space-between;
            &::after {
              content:'';
              width:100%;
              order:0;
                }
            .explore__item{
                width: 200px;
                height: 220px;    
                margin-top: 50px;
            &:nth-child(3){order: 1;}
            &:nth-child(4){order: 1;}
                }
            }
        }
        .order{
            .order__container{
                flex-direction: column;

                h2{
                    text-align: center;
                }
                    .subtitle{
                    font-size: 1.4rem;
                        margin: 25px 0;
                }
            }
        }
    }
}//media 680

@media(max-width:550px){
    body{
        .first{
            .circle {
                right: -115%;
            }
        }
        .about{
            .about__right{
                padding-top: 0;
            }
        }
        footer{
            .footer__terms{
                justify-content: center;
                a{display: none;}
                .copyright{
                    position: initial;
                    text-align: center;
                }
            }
        }
    }
    .menu{
        .menu__wrapper{
            justify-items: center;
            grid-template-columns: repeat(var(--col), 330px);
            
            
        }
        .menu__item{
            width: 330px;
            height: 380px;
        }
        .menu__img--wrapper{
            width: 254px;
            height: 224px;
            right: 30px;
        }
        .menu__text--wrapper{
            width: 270px;
            height: 340px;
        }
        
    }
}

@include phones{
    .reviews__item{
        margin: auto;
    }
    body{
        h1{
            font-size: 3.5rem;
        }
        .subtitle{
            max-width: 350px;
        }
        .about{
            .about__statistic{
                margin-top: 100px;
                margin-bottom: 75px;
                flex-direction: column;
                align-items: center;
                .static__item{
                    margin-top: 35px;
                }
            }
        }
        .menu{
        .explore{
            .explore__flex--wrapper{
                max-width: 28.5rem;
                .explore__item{
                    width: 45%;
                }
            }
            }
        }
        .app{
            .app__container{
                padding: 0;
            }
            .app__content{
                padding: 25px 15px;
            }
            .img--wrapper{
                top: 0;
            }
        }
    }
    
     .footer__content{
        .fb{
            width: 0.642rem;
            height: 1.142rem;
            }
        .tw{
            width: 1.142rem;
            height: 0.928rem;
            }
        .inst{
            width: 1.142rem;
            height: 1.142rem;
     
            }
        }
    }//media phones
@media(max-width:400px){
    body .first .circle{
        right: -150%;
    }
}
@media(max-width:330px){
    body .first .circle{
        right: -180%;
    }
    .first{
        .video{
            .play{
                width: 130px;
                height: 130px;    
                left: 29%;
                top: 33%;
            }
        }
    }
    body{
        h2{
            font-size: 3rem;
        }
        .subtitle{
            margin: 0 20px;
        }
        .app{
            .app__content{
                .app__buttons{
                    flex-direction: column;
                    max-width: none;
                    align-items: center;
                    .button-link{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}












