.circle{
    width: 891px;
    height: 891px;
    border-radius: 50%;
    position: absolute;
    top: -30%;
    right: -15%;
    z-index: -1;
    background: linear-gradient(133.44deg, #FCEEE9 17.94%, #ECF8F8 85.2%);
}
.video{
    position: relative;
    margin-left: 15px;
    max-width: 600px;
    width: 100%;
    &:hover{
        .play{
            transition: all .7s ease;
            background: #F89C72; 
        }
    }
}
.play{
    transition: all .7s ease;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    position: absolute;
    left: 35%;
    top: 35%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.triangle{
    width: 32px;
    height: 32px;
    transform: rotate(-90deg);
    fill: #333333;
}
.first__content{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin-right: 15px;
    h3{
        text-align: left;
    }
    h1{
        margin-bottom:25px;
    }
    .subtitle{
        margin: 0;
        margin-bottom: 35px;
        text-align: left;
        font-size: 20px;
    }
}
.first{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    flex-direction: row-reverse;
    padding: 180px 10px;
    overflow: hidden;
}
