@font-face {
    font-family: 'Manrope-Regular';
    src: url('./fonts/Manrope-Regular.woff2') format('woff2'),
        url('./fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url('./fonts/Manrope-Bold.woff2') format('woff2'),
        url('./fonts/Manrope-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Elsie-Black';
    src: url('./fonts/Elsie-Black.woff2') format('woff2'),
        url('./fonts/Elsie-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}