.map{
    margin-top: 320px;
    align-items: flex-end;
}

.map__container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(135deg, #FCEEE9 0%, #ECF8F8 100%);
    border-radius: 100px 0px 0px 24px;
    padding-right: 30px;
}
.map__content{
    max-width: 250px;
    margin: 100px 50px 0 20px;
    h3{text-align: left}
    h2{text-align: left}
    .subtitle{text-align: left;margin-top: 30px; font-size: 20px;}
}
.working-hours{
    color: #33333380;
    margin-top: 40px;
}
.hours{
    font-family: "Elsie-Black";
    font-size: 24px;
    margin-top: 10px;
}

//28344600



#map-init{
    border-radius: 100px 0px 0px 24px;
    overflow: hidden;
    position: relative;
    top: -85px;
}








