.order{
    margin: 0 auto;
    margin-top: 150px;
    width: 90%;
    
}
.order__container{
    background: url(./img/order.png);
    box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
    border-radius: 100px 24px 24px 24px;
    max-width: 970px;
    width: 100%;
    padding: 65px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h2{
        text-align: left;
    }
    
}