.contact__overlay{
    position: fixed;
    top: -100vh;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(7px);
    align-items: center;
    justify-content: center;
    transition: all 2s ease;
}
.contact__overlay--active{
    display: flex;
    animation: drop 2s ease;
    animation-fill-mode: forwards;
    @keyframes drop{
        0%{top: -100vh}
        100%{top: 0vh}
    }
}
.contact__overlay--disappearence{
    animation: dis 2s ease;
    animation-fill-mode: forwards;
    @keyframes dis{
        0%{top: 0vh}
        100%{top: -100vh}
    }
}
.contact__block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    border: 1px solid #EF633E;
    border-radius: 20px;
    background: linear-gradient(133.44deg, #FCEEE9 17.94%, #ECF8F8 85.2%);
    h3{
        padding: 0 50px
    }
    input{
    overflow: hidden;
    background: transparent;
    border: 1px solid #EF633E;
    height: 30px;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
	display: none;
    }
}
.smile{
    font-size: 50px;
    margin-bottom: 15px;
}
.contact__close{
    position: absolute;
    right: 25px;
    top: 20px;
    width: 25px;
    height: 25px;
    
    &:hover{
        .line-1{background:#EF633E}
        .line-2{background:#EF633E}
    }
}
.line-1{
    width: 30px;
    height: 6px;
    border: 1px solid #EF633E;
    transform: rotate(45deg);
    position: absolute;
    top: 30%;
    right: 0%;
    border-radius: 5px;
    background: linear-gradient(133.44deg, #FCEEE9 17.94%, #ECF8F8 85.2%);
    z-index: 10;
    transition: all .5s ease;
}
.line-2{
    width: 30px;
    height: 6px;
    border: 1px solid #EF633E;
    transform: rotate(-45deg);
    position: absolute;
    top: 30%;
    right: 0%;
    border-radius: 5px;
    transition: all .5s ease;
    
}
#burger{
    //mix-blend-mode: difference;
    display: none;
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 1000;
    width: 3.26rem;
    height: 3.26rem;
    border-radius: 50%;
    border: 1px solid #5DC4B8;
    opacity: 0.8;
    @include phones{
        width: 3.5rem;
        height: 3.5rem;
    }
}
.burger--active{
    
        animation: burgerAnim 2s ease; 
        animation-fill-mode: forwards;
    @keyframes burgerAnim{
        0%{transform: rotate(0deg)}
        100%{transform: rotate(-90deg)}
        }
    .burger__line-2{
            
            animation: anim1 .3s ease; 
            animation-delay: 2s;
            animation-fill-mode: forwards;
                @keyframes anim1{
                    0%{opacity: 1}
                    100%{opacity: 0}
                    }
            }
    
        
    .burger__line-1{
        //1.6rem 1.2rem
        @include tablets{
        animation: line11 .6s ease; 
        animation-delay: 2s;
        animation-fill-mode: forwards;
    @keyframes line11{
        0%{top: 0.95rem;}
        25%{top: 1.15rem;}
        70%{transform: rotate(-135deg)}
        100%{transform: rotate(-135deg);top: 1.45rem}
            }
        }
        @include phones{
        animation: line1 .6s ease; 
        animation-delay: 2s;
        animation-fill-mode: forwards;
    @keyframes line1{
        0%{top: 0.95rem;}
        25%{top: 1.15rem;}
        70%{transform: rotate(-135deg)}
        100%{transform: rotate(-135deg);top: 1.6rem}
            }
        }
        
    }
    
    .burger__line-3{
        @include tablets{
        animation: line33 .6s ease; 
        animation-delay: 2s;
        animation-fill-mode: forwards;
    @keyframes line33{
        0%{top: 1.75rem;}
        25%{top: 1.4rem;}
        70%{transform: rotate(135deg)}
        100%{transform: rotate(135deg);top: 1.05rem}
            }
        }
        @include phones{
        animation: line3 .6s ease; 
        animation-delay: 2s;
        animation-fill-mode: forwards;
    @keyframes line3{
        0%{top: 1.75rem;}
        25%{top: 1.4rem;}
        70%{transform: rotate(135deg)}
        100%{transform: rotate(135deg);top: 1.2rem}
            }
        }
    
    
    
    }
    
    
}//burger--active
.burger--disactive{
        animation: burgerAnim2 2s ease;
    .burger__line-2{
            
            animation: anim11 .3s ease; 
            animation-fill-mode: forwards;
                @keyframes anim11{
                    0%{opacity: 0}
                    100%{opacity: 1}
                    }
            }
    
        
    .burger__line-1{
        animation: anim22 .6s ease; 
        animation-fill-mode: forwards;
    @keyframes anim22{
        0%{transform: rotate(-135deg);top: 1.45rem}
        25%{transform: rotate(-135deg)}
        70%{top: 1.15rem;}
        100%{top: 0.95rem;}
        }
    }
    .burger__line-3{
        animation: anim33 .6s ease; 
        animation-fill-mode: forwards;
    @keyframes anim33{
        0%{transform: rotate(135deg);top: 1.05rem}
        25%{transform: rotate(135deg)}
        70%{top: 1.4rem;}
        100%{top: 1.75rem;}
        }
    }
}
.burger__line{
    opacity: 1;
    position: relative;
    
    width: 1.33rem;
    background: #5DC4B8;
    left: 0.9rem;
    @include phones{
        left: 1rem;
    }
}
.burger__line-1{
    height: 0.2rem;
    top: 0.95rem;
}
.burger__line-2{
    height: 0.2rem;
    top: 1.35rem;
}
.burger__line-3{
    height: 0.2rem;
    top: 1.75rem;
}
.adaptive__title{
    z-index: 10;
    display: none;
    position: fixed;
    left: 20px;
    top: 20px;
    h2{
    
    mix-blend-mode: difference;
    font-family: 'Elsie-Black';
    font-size: 2.66rem;
    text-transform: uppercase;
    }
}
#overlay{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -130vh;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    backdrop-filter: blur(7px);
}
.overlay--active{
    
    animation: drop 2s ease;
    animation-fill-mode: forwards;
    @keyframes drop{
        0%{top: -130vh;}
        100%{top: 0;}
    }
    
}
.overlay--disactive{
    animation: overflow-disactive 1.5s ease;
    animation-fill-mode: forwards;
    @keyframes overflow-disactive{
        0%{top: 0;}
        100%{top: -130vh;}
    }
}
.overlay__content{
    max-width: 450px;
    width: 100%;
    padding: 15px;
    max-height: 550px;
    height: 100%;
    background: linear-gradient(180deg, #FFF0EC 0%, #FFDDD4 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}















