.reviews{
    margin-top: 135px;
}
.reviews__stars{
    position: absolute;
    bottom: 50px;
}
.reviews__slider{
    margin-top: 70px;
    width: 1080px;
    overflow: hidden;
    height: 500px;
}
.reviews__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    max-width: 270px;
    height: 370px;
    box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
    border-radius: 100px 24px 24px 24px;
    padding: 0 32px;
    top: 40px;
}
.slick-slide {
    margin-left:45px;
    margin-right: 45px;
  }
.reviews__photo{
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    right: 40px;
    box-shadow: 0px 16px 24px rgba(0, 24, 52, 0.08);
    img{width: 100%;height: 100%;object-fit: cover;}
}
.quotes{
    width: 60px;
    height: 40px;
    margin-inline-start: auto;
    position: absolute;
    right: 30px;
    top: -15px;
}
.reviews__text{
    color: #33333380;
    line-height: 32px;
    margin-top: 30px;
    max-height: 246px;
    overflow: hidden;
}
.reviews__author{
    position: absolute;
    bottom: 20px;
}
.slick-dots{
    list-style-type: none;
    display: flex;
    margin-top: 90px;
    justify-content: center;
    li{ 
        button{
        background: #F3F3F3;
        width: 16px;
        height: 16px;
        border-radius: 50%;   
        outline: none;  
        padding: 0;
        border: none;
        transition: all .5s ease;
        margin-left: 15px;    
            &:hover{
                background: #EF633E;
                transform: scale(1.2);
            }
        }
        &:nth-child(1){
            margin:0;
        }
    }
    .slick-active{
    button{background: #EF633E;}
    //background: #EF633E;
    }
}
