.slider{
    margin-top: 250px;
    align-items: flex-end;
    img{
    width: 100%;
    height: 100%;
}
}
.slider__content{
    width: 85%;
    height: 590px;
    background: linear-gradient(135deg, #FCEEE9 0%, #ECF8F8 100%);
    border-radius: 100px 0px 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 50px;
    
}
.slider__text{
    max-width: 260px;
    margin-top: 100px;
    margin-left: 30px;
    h3{text-align: left;}
    h2{text-align: left;}
    .subtitle{text-align: left;margin-top: 30px;}
}
.slider__container{
    max-width: 770px;
    width: 100%;
    height: 100%;
}
.slider__item{
    width: 770px;
    height: 590px;
    position: relative;
    top: -50px;
    right: 20px;
    background: #EF633E;
    border-radius: 100px 24px 24px 24px;
    overflow: hidden;
    img{
        object-fit:cover; 
    }
}
.arrow{
    width: 12px;
    height: 16px;
}
.arrow--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px #5DC4B8 solid;
    border-radius: 50%;
    transition: all .5s ease;
    &:hover{
        transition: all 2s ease;
        background: #5DC4B8;
        .arrow{
            fill:#FFDDD4;
        }
    }
}
.controls__nav{
    font-family: 'Elsie-Black';
    font-size: 24px;
    margin: auto auto;
}
.controls{
    width: 158px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}